/* soft reset do css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(https://images.unsplash.com/photo-1518066000714-58c45f1a2c0a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjIyNjY2fQ&auto=format&fit=crop&w=1500&q=80);
  background-size: cover;
  background-attachment: fixed;
  font-family: 'Nunito', sans-serif;
  height: 100vh;
  color: teal;
  font-size: 12px;
}

/* se a tela tiver pelo menos 400px vai carregar estes estilos */
@media (min-width: 400px) {
  body {
    font-size: 14px;
  }
}

/* breakpoint */
@media (min-width: 600px) {
  body {
    font-size: 18px;
  }
}

/* breakpoint */
@media (min-width: 1200px) {
  body {
    font-size: 20px;
  }
}

header {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu {
  background-color: #7584;
  position: fixed;
  width: 100vw;
  top: 0;
  z-index: 1;
}

.menu ul {
  display: flex;
  justify-content: space-around;
}

.menu li {
  list-style: none;
}

.menu a {
  display: block;
  padding: 10px 20px;
  transition: background-color 2s, color 1s;
}

.menu a:hover {
  background-color: whitesmoke;
  color: rgba(25,55,2,1);  
}

a{
  text-decoration: none;
  color: #9999ff;
  padding: 10px 20px;
}

a:hover {
  text-decoration: underline;
}

.site-subtitle,
.site-title {
  color: whitesmoke;
  text-align: center;
}

.site-title {
  font-size: 4em;
  font-family: 'Homemade Apple', cursive; 
}

.site-subtitle {
  font-style: italic;
  color: teal;
  font-family: 'Source Code Pro', monospace;
  line-hight: 1.8em;
}

.contato,
.portfolio {
   padding: 2em;
   min-height: 100vh;
}

.contato h2,
.portfolio h2 {
  font-family: 'Source Code Pro', monospace;
  color: whitesmoke;
  margin-botton: 1.5em;
  font-size: 2em;
}

.portfolio .grid {
  display: grid;
  gap: 2em;
}

@media (min-width: 560px) {
  .portfolio .grid {
    grid-template-columns: 240px 240px;
  }
}

@media (min-width: 880px) {
  .portfolio .grid {
    grid-template-columns: repeat(3, 260px);
    align-content: center;
    justify-content: center;
    height: calc(100vh - 8em - 48px);
  }
}

.portfolio figure {
  text-align: center;
}

.img-portfolio {
  height: 180px;
  width: 240px; 
  object-fit: cover;
  object-position: left bottom;
  transitin: transform 500ms;
}

.img-portfolio:hover {
  transform: scale(1.2) rotate(-1deg);
}

.contato .icons {
  text-align: center;
}

.contato a {
  font-size: 4em;
  transition: text-shadow 1s;
}

.contato a:active,
.contato a:hover  {
  text-decoration: none;
  text-shadow: 1px 3px 5px yellowgreen;
  
  

/*@media (min-width: 1200px; ) {
  .img-portfolio {
    height: auto;
    width: 100vh; 
  }
}*/
