body {
  background-image: url(https://images-na.ssl-images-amazon.com/images/I/81AJHy7Um7L._AC_SL1500_.jpg);
  background-size: auto 100vh;
  font-family: Arial;
  height: 100vh;
  color: teal;
}

.menu {
  background-color: #7584;
}

a{
  text-decoration: none;
  color: #9999ff;
}

a:hover {
  text-decoration: underline;
}

.menu ul {
  display: flex;
  justify-content: space-around;
}

.menu li {
  list-style: none;
}

.site-subtitle,
.site-title {
  color: whitesmoke;
  text-align: center;
}

.site-subtitle {
  font-style: italic;
  color: teal;
}
